<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include head.ejs %>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
   	<script>_inputdata = <%-JSON.stringify(data.inputdata)%> </script>
    <script>_useragent = <%-JSON.stringify(data.ua)%> </script>
    <script>_questionform = <%-JSON.stringify(data.questionform)%> </script>
    <script>_area = <%-JSON.stringify(data.area)%> </script>
   
  </head>
  <body>
  <%- include header.ejs %><div><%-JSON.stringify(data)%></div><br><br>
   <ul id="selectablequestiondata_g" style="width: 900px; height: 300px;"></ul><br><br><br><br><br><br><br><br>
	<div id="barchart_values" style="width: 900px; height: 300px;"></div>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<div id="container" style="min-width: 310px; height: 400px;display:none; margin: 0 auto">



<script>

$(function () {
		for ( var i = 0,xAxis = [],tmp = {a:{ name: "a", data: [], stack: 'stack_a' },b:{ name: "b", data: [], stack: 'stack_b' }},series=[tmp.a,tmp.b]; i < _inputdata.length; i++) {
			xAxis.push(_inputdata[i]._id);
			for ( var k in _inputdata[i].value.data) {
				if(tmp[k]){
					tmp[k].data.push(_inputdata[i].value.data[k]);
				}
			}
		}
        $('#container').highcharts({
    
            chart: {
                type: 'column'
            },
    credits: {
      enabled: false
  },
            title: {
                text: 'Survey result'
            },
    
            xAxis: {
                //categories: ['Apples', 'Oranges', 'Pears', 'Grapes', 'Bananas']
                categories: xAxis
            },
    
            yAxis: {
                allowDecimals: false,
                min: 0,
                title: {
                    text: 'answer count'
                }
            },
    
            tooltip: {
                formatter: function() {
                    return '<b>'+ this.x +'</b><br/>'+
                        this.series.name +': '+ this.y +'<br/>'+
                        'Total: '+ this.point.stackTotal;
                }
            },
    
            plotOptions: {
                column: {
                    stacking: 'normal'
                }
            },
    
            series: series
            /*
            [{
                name: 'John',
                data: [5, 3, 4, 7, 2],
                stack: 'male'
            }, {
                name: 'Joe',
                data: [3, 4, 4, 2, 5],
                stack: 'male'
            }, {
                name: 'Jane',
                data: [2, 5, 6, 2, 1],
                stack: 'female'
            }, {
                name: 'Janet',
                data: [3, 0, 4, 4, 3],
                stack: 'female'
            }]
            */
        });
    });


</script>

<br><br><br>
<!-- useragent pie chart -->
<div id="useragentpiechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script>
$(function () {
    $('#useragentpiechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'useragent pie chart'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'Browser share',
            data: 
            (function(){
            	for ( var i = 0,res=[]; i < _useragent.length; i++) {
					var line = [];
					line.push(_useragent[i]._id);
					line.push(_useragent[i].count);
					res.push(line);
				}
            	return res;
            })()
        }]
    });
});
</script>

<br><br><br>
<!-- area pie chart -->
<div id="areapiechart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<script>
$(function () {
    $('#areapiechart').highcharts({
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false
        },
        title: {
            text: 'area pie chart'
        },
        tooltip: {
    	    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            type: 'pie',
            name: 'area share',
            data: 
            (function(){
            	for ( var i = 0,res=[]; i < _area.length; i++) {
					var line = [];
					line.push(_area[i]._id);
					line.push(_area[i].count);
					res.push(line);
				}
            	return res;
            })()
        }]
    });
});
</script>
</div>
<script type="text/javascript" src="/javascripts/analytics.js"></script>
</body>
</html>