
<!DOCTYPE html>
<html>
<head>
<title>Top</title>
<meta name="viewport" content="width=device-width">
<!-- script src="/javascripts/jquery.mobile-1.4.1.js"></script -->
<!-- script src="/socket.io/socket.io.js"></script -->

</head>
<body bgcolor="#ffffff">
	<table>
	<tr>
		<td>No</td>
		<td>inputdata</td>
		<td>ua</td>
		<td>area</td>
		<td>referer</td>
	</tr>
	<% for(var i=0;i < data.survey.length;i++) {%>
	<tr>
		<td> <%- i+1 %> </td>
		<!-- referer -->
		<td> <%- data.survey[i].created_at %> </td>
		<!-- inputdata -->
		<td>
			<ul>
			<% for(var k in data.survey[i].inputdata) {%>
				<li> <%- data.questionaireform[k].item.title +" : "+ data.survey[i].inputdata[k] %> </li>
			<% } %>
			</ul>
		</td>
		<!-- ua -->
		<td> <%- JSON.stringify(data.survey[i].headers["user-gent"]) %> </td>
		<!-- area -->
		<td> [TODO : area] </td>
		<!-- referer -->
		<td> <%- data.survey[i].headers.referer %> </td>
	</tr>
	<% } %>
	</table>
</body>
</html>