<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include head.ejs %>
    <link rel='stylesheet' href='/stylesheets/mono.css' />
    <script src="/javascripts/mono.js"></script>
  </head>
  <body>
  <div class="container">
		<%- include header.ejs %>
		<div class="content">
		<!-- photo -->
			<div class="subcontent_left resp_block" >
				<div class="innercontent">
					
					<% if(_data.mono.imagedata && _data.mono.imagedata.length ) {%>
						<img class="scale-with-grid" id="mainimage" src="<%= (_data.mono.imagedata instanceof Array)?_data.mono.imagedata[0]:_data.mono.imagedata %>" />
						<iframe width="100%" id="ifm" style="display:none;" height="100%" src="" frameborder="0" allowfullscreen></iframe>
					<% } else if(_data.mono.imageurl && _data.mono.imageurl.length ) {%>
						<img class="scale-with-grid" id="mainimage" src="<%= (_data.mono.imageurl instanceof Array)?_data.mono.imageurl[0]:_data.mono.imageurl %>" />
						<iframe width="100%" id="ifm" style="display:none;" height="100%" src="" frameborder="0" allowfullscreen></iframe>
					<% } else if(_data.mono.imageyoutube && _data.mono.imageyoutube.length ) {%>
						<img class="scale-with-grid" id="mainimage" style="display:none;" src="http://img.youtube.com/vi/<%= (_data.mono.imageyoutube instanceof Array)?_data.mono.imageyoutube[0]:_data.mono.imageyoutube %>/0.jpg" />
						<iframe width="100%" id="ifm" height="100%" src="//www.youtube.com/embed/<%= _data.mono.imageyoutube[0] %>?rel=0" frameborder="0" allowfullscreen></iframe>
					<% } else { %>
						<div class='scale-with-grid'>no image</div>
					<% } %>
				</div>
				<!-- subimage -->
				<div>
					<% if(_data.mono.imagedata && _data.mono.imagedata.length ) {%>
						<% for(var i = 0;i < _data.mono.imagedata.length ;i++) {%>
						  	<div class="resp_block"  style="width:23%;">
								<div class="innercontent thumbnail">
									<img  class="scale-with-grid subimage" src="<%= _data.mono.imagedata[i] %>" />
								</div>
							</div>
						<% } %>
					<% } if(_data.mono.imageurl && _data.mono.imageurl.length ) {%>
						<% for(var i = 0;i < _data.mono.imageurl.length ;i++) {%>
						  	<div class="resp_block"  style="width:23%;">
								<div class="innercontent thumbnail">
									<img  class="scale-with-grid subimage" src="<%= _data.mono.imageurl[i] %>" />
								</div>
							</div>
						<% } %>
					<% } if(_data.mono.imageyoutube && _data.mono.imageyoutube.length ) {%>
						<% for(var i = 0;i < _data.mono.imageyoutube.length ;i++) {%>
						  	<div class="resp_block"  style="width:23%;">
								<div class="innercontent thumbnail">
									<img  class="scale-with-grid subimage" id="<%= _data.mono.imageyoutube[i] %>" src="http://img.youtube.com/vi/<%= _data.mono.imageyoutube[i] %>/0.jpg" />
								</div>
							</div>
						<% } %>
						
					<% } %>
				
					
				</div>
			</div>
			
			
			
		<!-- mono info -->
			<div class="subcontent_right resp_block" >
				<div class="innercontent text-large">
					<%= _data.mono.mono_name %>
				</div>
				<div class="innercontent">
					by <a href="/userinfo?u=<%= _data.mono.writer_id %>" ><%= _data.mono.writer_screen_name %></a> [<a href="javascript:void(0)" id="sendmessagelink" >send message</a>]
				</div>
		<!-- messanger -->				
				<div id="messageBox" class="messanger all-floating" style="display:none;">
                    <div class="well">
                        <h3 class="text text-info" style="font-size:21px;">send message to <font color="green" style="font-weight:bolder;"><%= _data.mono.writer_screen_name %></font></h3>
                        <div class="message-input">
                            <label for="send_title"><strong>Title</strong> <span class="asterisk">*</span></label> 
                            <input id="send_title" type="text" value=""> 
                            <label for="send_message"><strong>Message</strong><span class="asterisk">*</span></label>
                            <textarea class="required" id="send_message" type="text" value=""></textarea> 
                        </div>
                            <div style="text-align:center">
                            <button class="btn-primary" id="cancelMessageBoxBtn" style="width:40%" type="button" value="Subscribe">cancel</button>
                            <button class="btn-primary" id="sendMessageBtn" style="width:40%" type="button" value="Subscribe">send</button>
                            </div>
                            <input type="hidden" id="sendTo" value="<%= _data.mono.writer_id %>"/>
                    </div>
                </div>
        <!-- like dislike -->        
				<div class="innercontent">
				<% if("undefined" != typeof session && session.user) {%>
					<% if(!_data.mono.like || _data.mono.like.indexOf(session.user.uid) == -1) {%>
						like[<a href="javascript:void(0);" id="mono_like"><%= (_data.mono.like)?_data.mono.like.length:0 %></a>]
					<% } else { %>
						like[<%= (_data.mono.like)?_data.mono.like.length:0 %>]
					<% } %>
					 / 
					 <% if(!_data.mono.dislike || _data.mono.dislike.indexOf(session.user.uid) == -1) {%>
					 	dislike[<a href="javascript:void(0);" id="mono_dislike"><%= (_data.mono.dislike)?_data.mono.dislike.length:0 %></a>]
					 <% } else { %>
						dislike[<%= (_data.mono.dislike)?_data.mono.dislike.length:0 %>]
					<% } %>
				<% } else { %>
					like[<%= (_data.mono.like)?_data.mono.like.length:0 %>] / dislike[<%= (_data.mono.dislike)?_data.mono.dislike.length:0 %>]
				<% } %>
				</div>
				<div class="innercontent">
					<div class="details-title" >exchange wish</div>
					<%  for(var i = 0;_data.mono.exchangewish && i < _data.mono.exchangewish.length ;i++) {%>
						<span class="innercontent css_btn_class" onclick="javascript:location.href='/search?search=<%= _data.mono.exchangewish[i] %>';">
							<%= _data.mono.exchangewish[i] %>
						</span>
					<% } %>
				</div>
				<div class="innercontent">
					<div class="details-title" >tag</div>
					<%  for(var i = 0;_data.mono.tag && i < _data.mono.tag.length ;i++) {%>
						<span class="innercontent css_btn_class" onclick="javascript:location.href='/search?search=<%= _data.mono.tag[i] %>';">
							<%= _data.mono.tag[i] %>
						</span>
					<% } %>
				</div>
			</div>
		<!-- explanation -->
		<hr>			
			<div class="resp_block one " >
				<div class="innercontent">
					<div class="details-title" >about mono</div>
					<div>
					<% for(var k = 0,mg = _data.mono.about_mono.split("\n");k<mg.length;k++){ %>
						<%= mg[k] %><br>
					<% } %>
					</div>
					
				</div> 
			</div>
		<!-- comments -->
		<hr>
			<div class="resp_block one">
				<div class="innercontent">
				<%  if("undefined" != typeof session && session.user && _data.mono.writer_screen_name &&_data.mono.writer_screen_name != session.user.screen_name) {%>
				<form action="/addcomment" method="post">
					<input type="hidden" name="comment[monoid]" value="<%= _data.mono._id %>"/>
					<input id="exchange_request" type="button" value="ask exchange" />
					<div id="exchange_request_form" class="resp_block one" style="display:none;" >
					<!--
						<span style="">
							<input type="radio" id="ask_kind_exchange" name="ask_kind" /><label for="ask_kind_exchange">exchange</label>
							<input type="radio" id="ask_kind_free" name="ask_kind" checked="checked" /><label for="ask_kind_free">ask free</label>
						</span>
					-->
						<!-- TODO: add writer's mono -->
						<div id="ask_exchangelist" class="resp_block one" style>
						<div class="details-title">exchangelist</div>
							<%  for(var i = 0;i < _data.usermono.length ;i++) {%>
								<span class="innercontent css_btn_class" >
									<input type="checkbox" id="exchange_wish_<%= i %>" name="comment[exchange_wish][]" value="<%= _data.usermono[i]._id %>:<%= _data.usermono[i].mono_name %>">
									<label for="exchange_wish_<%= i %>"><%= _data.usermono[i].mono_name %></label>
								</span>
							<% } %>
						</div>
						<div style="width:100%;text-align:center;">
						<textarea maxlength="500" name="comment[message]" placeholder="maxlength:500" style="width:90%"></textarea>
						</div>
						<input style="float:right;" type="submit" value="add comment" />
					</div>
				</form>
				<% } %> 	
				</div>
				 
				<%  for(var i = 0;_data.mono.comment && i < _data.mono.comment.length ;i++) {%>
				
					<div class="innercontent">
						writer:<a href="/userinfo?u=<%= _data.mono.comment[i].writer_id %>"><%= _data.mono.comment[i].writer %></a><br>
						comment:
						<% for(var k = 0,mg = _data.mono.comment[i].message.split("\n");k<mg.length;k++){ %>
							<%= mg[k] %><br>
						<% } %>
						exchange with: 
						<%  for(var j in _data.mono.comment[i].exchange_wish) {%>
							<span class="innercontent css_btn_class" onclick="javascript:location.href='/mono?m=<%= j %>';">
							<%= _data.mono.comment[i].exchange_wish[j] %>
							</span>
						<% } %>  
					</div>
					<hr style="border-top: 1px solid #CBD6D1;">
				<% } %> 
			</div>
		</div>
		<%- include footer.ejs %>
	</div>
  </body>
</html>