<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<%- include head.ejs %>
<link rel='stylesheet' href='/stylesheets/signup.css' />
</head>
<body>
	<div class='container'>
		<%- include header.ejs %>

		<div class="page-canvas">
			<div class="signup-wrapper">

				<h1>Join monogatari today.</h1>

				<form id="phx-signup-form" method="POST"
					action="https://monogatari.com/account/create" class="">
					<fieldset class="textbox">

					<!-- email -->
						<div class="prompt email">
							<div class="field-name">Email address</div>
							<div class="field" data-fieldname="email">
								<div class="sidetip">
									<p class="tip">What’s your email address?</p>
									<p class="ok isaok">We will email you a confirmation.</p>
									<p class="checking">Validating...</p>
									<p class="invalid error" role="alert">Doesn't look like a
										valid email.</p>
									<p class="blank error" role="alert">An email is required!</p>
									<p class="taken error " role="alert">
										This email is already registered. Want to <a href="/login">login</a>
										or <a href="/account/resend_password">recover your
											password</a>?
									</p>
									<p class="domain tip">
										Did you mean <em><a class="js-email-correction" href="#"></a>
										</em>?
									</p>
								</div>
								<input class="email-input" type="email" autocomplete="off" value="" name="user[email]" aria-required="true">
							</div>
						</div>


					<!-- password -->
						<div class="prompt password">
							<div class="field-name">Create a password</div>
							<div class="field" data-fieldname="password">

								<div class="sidetip">
									<p class="tip">6 characters or more! Be tricky.</p>
									<p class="perfect isaok">Password is perfect!</p>
									<p class="ok isaok">Password is okay.</p>
									<p class="weak isaok">Password could be more secure.</p>
									<p class="weak error" role="alert">Password is not secure
										enough.</p>
									<p class="obvious error" role="alert">Password is too
										obvious.</p>
									<p class="invalid error" role="alert">Password must be at
										least 6 characters.</p>
									<p class="blank error" role="alert">Password cannot be
										blank!</p>
								</div>
								<input type="password" value="" name="user[user_password]" aria-required="true">
							</div>
							<div class="score">
								<span><b class="fill"></b>
								</span>
							</div>
						</div>

					<!-- username -->
						<div class="prompt username">
							<div class="field-name">Choose your username</div>
							<div class="field" data-fieldname="username">
								<div class="sidetip">
									<p class="ok isaok">
										Username is available.<br>You can change it later.
									</p>
									<p class="tip">Don't worry, you can change it later.</p>
									<p class="checking">Validating...</p>
									<p class="taken error" role="alert">This username is
										already taken!</p>
									<p class="invalid error" role="alert">Invalid username!
										Alphanumerics only.</p>
									<p class="blank error" role="alert">
										A username is required!<br>You can change it later.
									</p>
								</div>
								<input type="text" autocomplete="off" value="" data-pre-input-value="" name="user[screen_name]" maxlength="15" aria-required="true">
							</div>
							<div class="suggestions">
								Suggestions:
								<ul></ul>
							</div>
						</div>
						
					<!-- gender -->
						<div class="prompt gender">
							<div class="field-name">Choose your gender</div>
							<div class="field" data-fieldname="gender">
								<input type="text" autocomplete="off" value="" data-pre-input-value="" name="gender" maxlength="15" aria-required="true">
							</div>
						</div>

					<!-- age -->
						<div class="prompt age">
							<div class="field-name">Choose your age</div>
							<div class="field" data-fieldname="age">
								<input type="text" autocomplete="off" value="" data-pre-input-value="" name="age" maxlength="15" aria-required="true">
							</div>
						</div>
						

					<!-- area -->
						<div class="prompt area">
							<div class="field-name">Choose your area</div>
							<div class="field" data-fieldname="area">
								<input type="text" autocomplete="off" value="" data-pre-input-value="" name="area" maxlength="50" aria-required="true">
							</div>
						</div>

					<!-- city -->
						<div class="prompt city">
							<div class="field-name">Choose your city</div>
							<div class="field" data-fieldname="city">
								<input type="text" autocomplete="off" value="" data-pre-input-value="" name="city" maxlength="15" aria-required="true">
							</div>
						</div>


						<div class="prompt rememberme">
							<label class="checkbox"> <input type="checkbox" checked="checked" name="user[remember_me_on_signup]" value="1">
								<span>Keep me signed-in on this computer.</span> </label>
						</div>

						<div class="prompt optin">
							<label> <input type="checkbox" checked="checked"
								name="user[use_cookie_personalization]" value="1"> 
								 <span>Tailor monogatari based on my
									recent website visits. <a
									class="cookie-personalization-support"
									href="https://support.monogatari.com/articles/20169421"
									target="_blank">Learn more</a>.</span> </label>
						</div>



					</fieldset>
					<%- include principle.ejs %>


					<div class="standby">
						<p>Creating your account…</p>
					</div>

					<fieldset class="doit">

						<div class="sign-up-box">
							<input class="submit button promotional" type="submit"
								name="submit_button" value="Create my account">
						</div>

						<div class="befound">
							<p>Note: Others will be able to find you by name, username or
								email. Your email will not be shown publicly. You can change
								your privacy settings at any time.</p>
						</div>

					</fieldset>

				</form>
			</div>
		</div>


		<%- include footer.ejs %>
	</div>
</body>
</html>